:root{
    font-family:  'Roboto', sans-serif;

}

html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #191E4D;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}
nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 17vh;
    top: 0;
    left: 0;
    background-color: #EC9A71;
    color: #191E4D;
    z-index: 0;
}
.nav-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10rem;
    
}
.nav-item{
    visibility: hidden;
}
.logo{
    margin: 0 auto;
    margin-left: 12rem;
}


.logo{
    font-size: 2rem;
    display: flex;
    width: 100%;
    margin: 2rem auto;
}

.home{
    margin: 10rem auto;
    text-align: center;
    font-size: 1rem;
}

#img1{
    width: 20rem;
    height: 30rem;
}

.levels{
    font-size: 2rem;
    text-align: center;
    color: #191E4D;
    line-height: 2.9rem;
}
.btn-2{
    margin: 2rem auto;
    width: 17rem;
    height: 3rem;
    background-color: #EC9A71;
    border: 1px solid black;
    border-radius: 1.6rem;
    box-shadow: -1px 14px 10px -10px rgba(0,0,0,1);
}

.sold-homes{
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.images{
    margin: 1rem auto;
    width: 20rem;


}

.top-selling{
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
}

.img-4{
    margin: 1rem 1rem;
    width: 20rem;
    height: 100%;
}
.hr{
    width: 100vw;
    height: 10px;
}
footer{
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #EC9A71;
    color: #191E4D;
    font-size: 2rem;
    text-align: center;
    list-style-type: none;
}
footer ul{
    list-style-type: none;
}
.list{
    font-size: 1.5rem;
    line-height: 2.5rem;

}




@media  screen and (min-width: 480px) {
    html{
    font-size: 16px;
    }
    nav{
        width: 100%;
        height: 11vh;
    }
    .nav-wrapper{
        width: 100vw;
        flex-direction: row;
        
    } 

}

@media screen and (min-width: 780px) {
    html{
        font-size: 16px;
    }
    
    .wrapper{
        width: 90%;
        padding: 0;
    }

    nav{
        height: 10vh;
    }
    .nav-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        margin-left: 9rem;
        margin-right: 1rem;
        margin: 2rem auto;
        font-size: 1rem;
        color: blanchedalmond;
        
    }
    .logo{
        width: 16rem;
        margin-left: 1rem;
    }
    
    .nav-item{
        visibility: visible;
        margin-right: 2rem;
        
    }

    .home{
        display: flex;
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .column{
        margin-top: 2rem;
        flex: 50%;
    }
    #title-1{
        margin-top: 10rem;
    }
    .levels{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        line-height: 4rem;
        word-spacing: .3rem;
    }
    .btn-2{
        width: 70vw;
        height: 4rem;
    }
    .sold-home{
        width: 90vw;

    }
    .image{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: -3rem;
        align-items: center;
    }

    .images{
        height: 100%;
        width: 100%;
        margin-left: -2rem;
        padding-left: 1rem ;
    }
    .img-1{
        width: 70%;
        height: 20rem;
        
    }
    .top-selling{
        font-size: .5rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .lists{
        display: flex;
        margin-top: 2rem;
        justify-content: space-evenly;
    }

    .img-4{
        margin: 2rem auto;
        width: 25rem;
    }
    footer{
        width: 100%;
        margin-left: -3rem;

    }

    
}
@media  screen and (min-width: 1100px) {
    html{
        font-size: 16px;
    }

    .wrapper{
        width: 99%;
    }
    
    nav{
        width: 100%;
        height: 10vh;
        background-color: white;
    }
    .nav-wrapper{
        font-size: 1rem;
    }

    .home{
        display: flex;
        line-height: 3rem;

    font-size: 2rem;
    }

    #img-1{
        width: 30rem;
        height: 35rem;
        box-shadow: 2px 1px 47px 6px rgba(0,0,0,0.34);;
    }

    .levels{
        flex-direction: row;
        text-align: left;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-left: 1rem;
        padding-bottom: 2rem;
        
    }
    .btn-2{
        position: relative;
        margin-top: 5rem;
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
        border: 1px solid black;
        border-radius: 0px;
        background-color: white;
        box-shadow: none;

    }
    .top-selling{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        
       
    }
    .selling-column{
        flex: 50%;
        line-height: 2.5rem;
        text-align: left;
        padding: 1rem;
        font-size: 1.3rem;
    }

    .img-4{
        width: 29rem;
        height: 30rem;
    }
    .hr{
        size: 1px;
        width: 1px;
        color: black;
    }
    footer{
        width: 100%;
        background-color: white;
    }
    .lists{
        padding-bottom: 1rem;
    }
}


