:root{
    font-family:  'Roboto', sans-serif;

}

html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #191E4D;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    background-color: #EC9A71;
    color: #191E4D;
    z-index: 1;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;
    margin-left: -10rem;
    margin-right: 10rem;
}
nav ul{
    
    visibility: hidden;
}
nav input{
    visibility: hidden;
}
.logo{
    font-size: 2rem;
    display: inline;
    margin: 0rem auto;
}

.home{
    margin: 10rem auto;
    text-align: center;
    font-size: 2rem;
}

#img1{
    width: 20rem;
    height: 30rem;
}

.levels{
    font-size: 2rem;
    text-align: center;
    color: #191E4D;
    line-height: 2.9rem;
}
.btn-2{
    margin: 2rem auto;
    width: 17rem;
    height: 3rem;
    background-color: #EC9A71;
    border: 1px solid black;
    border-radius: 1.6rem;
    box-shadow: -1px 14px 10px -10px rgba(0,0,0,1);;
}

.sold-homes{
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.images{
    margin: 1rem auto;
    width: 20rem;


}

.top-selling{
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
}

.img-4{
    margin: 1rem 1rem;
    width: 20rem;
    height: 100%;
}





@media  screen and (min-width: 480px) {
    #wrapper{
        display: flex;
        flex-direction: column;
    }
    nav{
        position: fixed;
        top: 0;
        display: flex;
        background-color: #EC9A71;
        color: white;
        width: 100%;
        font-size: 2rem;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav  a{
        display: block;
        color: wheat

    }
    #home{
        margin: 9rem 1rem;
        margin-top:  10rem;
        text-align: left;
        font-size: 2rem;

    }
    .levels{
        margin: 0;
        font-size: 2rem;
        text-align: center;
        line-height: 4rem;

    }
    
    
    
}
